.container{
    margin-top: 1%;
}

h2{ 
    margin-left: 20px;
}
.name{
    font-size: 30px;
}
small{
    margin-top: 30px;
    opacity: 0.9;
    background: rgba(243, 240, 240, 0.664);
    display: flex;
}

.h-primary{
    text-align: center;
    justify-items: center;
}

.col input{
    font-size: 1.3rem;
}
.col input:hover{
    background: rgb(226, 223, 223);
    color: black;
}
.first,.second{
    font-size:1.3rem;
}
.form-check{
    font-size: 20px;
}
.form-check-input{
    height: 20px;
    width: 30px;
}
.text-area{
    font-size: 20px;
}
.h-secondary{
    margin-top: 12px;
    font-size: 1.4rem;
}
